<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Записи направлять в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Записи направлять в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Имя файла для записи. -->
        <file>logging.log</file>
        <!-- Если true, события добавляются в конец существующего файла. -->
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Записывать уровни с debug по error -->
    <root level="debug">
        <!-- Данные Appender будут эти уровни записывать -->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>